<!-- <p>landing-page works!</p> -->
<div class="landing-wrapper">
    <div class="landing-left">
      <div class="branding">
        <h1 class="title">Welcome to <span>🌱FarmersPoint</span></h1>
        <p class="subtitle">Empowering farmers with smart, efficient, and reliable digital solutions.</p>
  
        <ul class="features">
          <li>🌱 Track your farms and fertilizers</li>
          <li>📊 Smart scheduling and insights</li>
          <li>👨‍🌾 Designed for farmers, by engineers</li>
        </ul>
  
        <!-- <button [routerLink]="['/login']" class="sign-in-button">Sign In</button> -->
        <!-- <a routerLink="/login">
            <button class="sign-in-button">Sign In</button>
        </a> -->
        <button (click)="navigateToLogin()" class="sign-in-button">Sign In</button>
      </div>
    </div>
  
    <div class="landing-right">
      <!-- <img src="assets/farmer_landing.webp"  /> -->
    </div>
  </div>
  